body {
  height: 100vh;
  background-color: #F5F5F5;
  margin: 0px;
}

section {
  height: 100%;
}
button {
  background-color: #1CA3BA;
}

.nav {
  width: 75px;
  float: left;
  background-color: white;
}

.elephant {
  text-align: center;
  margin-bottom: 200px;
  margin-top: 20px;
}

.el_img {
  height: 60px;

}

.nav img {
  width: auto;
  margin: auto;
  text-align: center;
}

.navgroup {
  text-align: center;
  top: 40px;
}

.navgroup img {
  height: 40px;
  padding: 10px;
}

.account {
  display: inline-block;
  width: auto;
}

.welcome {
  background: linear-gradient(#8ED1DC, #E3F4F6);

}

.card img {
  height: 20px;
}

.transactions {
  width: auto;
  float: right;
}
