@import url('https://fonts.googleapis.com/css?family=Biryani&display=swap');

body {
  height: 100vh;
  background-color: #F5F5F5;
  margin: 0px;
  font-family: Biryani;
  color: #363636;
  position: relative;
  z-index: -1;
}

section {
  height: 100%;
}

button {
  background-color: #1CA3BA;
  float: right;
  border-radius: 20px;
  padding: 7px;
}

.btn {
  color: white;
  padding: 10px 19px;
  font-size: 14px;
}



/* navbar -------------------------------------*/

.nav {
  width: 75px;
  float: left;
  background-color: white;
  z-index: 10000000;
  position: relative;
}

.elephant {
  text-align: center;
  margin-bottom: 200px;
  margin-top: 20px;
}

.el_img {
  height: 60px;
}

.nav img {
  width: auto;
  margin: auto;
  text-align: center;
}

.navgroup {
  text-align: center;
  top: 40px;
}

.navgroup img {
  height: 40px;
  padding: 10px;
  z-index: 1000000000;
}

.highlight {
  border-left: 4px solid #1CA3BA;
}

.hidden {
  display: none;
}

.show {
  display: initial;
}

.shadow {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .05);
}

/* account ----------------------------------*/

main {
  position: relative;
  z-index: -1;
}

.main1 {
  /* display: none; */
}

.accounts_title {
  display: inline-block;
  font-size: 20px;
}

.account {
  display: inline-block;
  width: 600px;
  margin-left: 50px;
}

.title {
  margin-top: 35px;
}

.welcome {
  background: linear-gradient(to right, #8ED1DC, #E3F4F6);
  padding: 25px;
  border-radius: 4px;
}

.close {
  height: 8px;
  float: right;
}

.account_summary_display {
  width: 100%;
}

ul {
  padding-left: 0px;
  text-align: justify;
  width: 100%;
}

.account_sum_li.first {
  margin-left: 0px;
}

.account_sum_li {
  width: 30%;
  margin: 13.2px;
  display: inline-block;
  background-color: white;
  text-align: justify;
}

.account_sum_li.last {
  margin-right: 0px;
}

li {
  background-color: white;
  text-align: justify;
}

.acc_sum_label {
  padding-left: 10px;
  font-size: 10px;
  margin: 0;
  padding-top: 10px;
}

.acc_sum_amount {
  margin: 0;
  padding: 10px 10px 15px;
  font-size: 18px;
}

.card img {
  height: 30px;
  position: relative;
  top: 5px;
}

.card {
  background-color: white;
  margin-top: 20px;
  padding: 12px;
  position: relative;
}

.card > .bank {
  position: absolute;
  left: 105px;
  top: 20px;
}

.card > .acc_type {
  position: absolute;
  left: 450px;
  top: 20px;
}

/* transaction ---------------------------*/

.transactions {
  position: relative;
  right: 100px;
  height: 470px;
  width: 500px;
  padding: 25px;
  margin-top: 100px;
  margin-left: 50px;
  float: right;
  background-color: white;
}

.transac_title > span {
  font-size: 20px;
}

table {
  border-collapse: collapse;
  height: 435px;
}

tr {
  padding-top: 15px;
  border-bottom: 1px solid #CCCCCC;
}

td {
  position: relative;
  padding-right: 52px;
}

.outflow_col {
  padding-right: 0;
}

/* main2-------------------------------------------- */

.main2 {
  /* display: none; */
  position: relative;
}

.transac_big {
  width: 550px;
  margin-left: 120px;
}

.transac_big_list {
  position: relative;
  top: 50px;
  background-color: white;
  width: 550px;
  height: 550px;
}

.transac_big_header {
  position: relative;
  top: 30px;
}


.transac_big_title {
  display: inline-block;
  font-size: 25px;
}

.transac_big_button_group {
  display: inline-block;
  margin-left: 112px;
}

.transac_big_button {
  float: none;
  width: 90px;
}

.flow {
  background-color: white;
  color: #1CA3BA;
  border: 1px solid #1CA3BA;
}

.transac_big_table {
  padding: 25px;
  position: relative;
}

.transac_big_table table {
  height: 522px;
}

.transac_big_table tr {
  padding-top: 15px;
}

.transac_big_table th {
  padding-right: 45px;
  position: relative;
}

.transac_big_table td {
  padding: 0;
}

.new_transac {
  display: inline-block;
  position: relative;
  width: 550px;
  height: 550px;
  left: 700px;
  bottom: 500px;
  background-color: white;
}

.new_transac_title {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

form {
  padding-left: 50px;
  padding-right: 50px;
}

fieldset {
  border: none;
}

h5 {
  margin: 0;
  margin-top: 10px;
}

select {
    width: 436px;
    height: 30px;
}

input {
  width: 430px;
  height: 25px;
}

.log_expense {
  float: none;
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  margin-top: 10px;
  font-size: 14px;
}
